* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .DashNav{
    height: 8vh;
    width: 100%;
    background-color: aqua;
    display: flex;
  }
  .DashBody{
    height: 92vh;
    width: 100%;
  }
                .DashBody1{
                     height: 100%;
                     width: 20%;
                     background-color: bisque;
                }